{% extends 'base.html' %}
{% block title %}{{ user_object.username }}{% endblock %}
{% block content %}
    <div class="card mb-3" style="max-width: 540px; border: none">
        <div class="row no-gutters">
            <div class="col-md-4" style="margin-top: 27px">
                {% if user_object.profile.avatar %}
                    <img src="{{ user_object.profile.avatar.url }}" class="card-img-top" alt="user picture">
                {% else %}
                    {% load static %}<img src="{% static "default_image.jpg" %}" class="card-img-top" alt="default avatar">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Логин: {{ user_object.username }}</h2>
                    <p class="card-text">Имя: <b>{{ user_object.first_name }}</b></p>
                    <p class="card-text">Фамилия: {{ user_object.last_name }}</p>
                    <p class="card-text">Почта: {{ user_object.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

