{% extends 'base.html' %}
{% block title %}Файл{% endblock %}
{% block menu %}
{#    {% if perms.webapp.change_task %}#}
        <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:file_edit' file.pk %}">Редактировать</a></li>
{#    {% endif %}#}
{#    {% if perms.webapp.delete_task %}#}
        <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:file_delete' file.pk %}">Удалить</a></li>
{#    {% endif %}#}
{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>{{ file.name}}</h3>
            <hr class="my-4">
            {% if file.author %}
                <p><b>Создан: </b>{{ file.author }}</p>
            {% else %}
                <p><b>Создан: </b>Аноним</p>
            {% endif %}
            <p><b>Дата добвления: </b>{{ file.date|date:'d/m/Y' }}</p>
            <hr class="my-4">
            <p>Скачать: <a href="{{ file.file.url }}">{{ file.file }}</a></p>
        </div>
    </div>
{% endblock %}