{% extends 'base.html' %}
{% block title %}Файл{% endblock %}
{% block menu %}
    {% if request.user == file.author or perms.webapp.change_file %}
        <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:file_edit' file.pk %}">Редактировать</a>
        </li>
    {% endif %}
    {% if request.user == file.author or perms.webapp.delete_file %}
        <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:file_delete' file.pk %}">Удалить</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>{{ file.name }}</h3>
            <hr class="my-4">
            {% if file.author %}
                <p><b>Создан: </b>{{ file.author }}</p>
            {% else %}
                <p><b>Создан: </b>Аноним</p>
            {% endif %}
            <p><b>Дата добвления: </b>{{ file.date|date:'d/m/Y' }}</p>
            <hr class="my-4">
            <p>Скачать: <a href="{{ file.file.url }}">{{ file.file }}</a></p>
        </div>
    </div>
    <h5>Добавить пользователя в Приват (введите username)</h5>
    <div class='user-container'>
        {% for obj in result %}
            <p class="user_text">{{ obj.first_name }}-{{ obj.last_name }}</p>
        {% endfor %}
    </div>


    <form action="{% url 'webapp:add_to_private' %}" method="POST" id="add_lesson">
        {% include 'partial/form.html' %}
        <p class="text-center">
            <button style="display: inline-flex"><input class="btn privates-add" type="submit" value="Найти"></button>
        </p>
        {#        <input type="submit" value="Добавить" id="add-to-privates-{{ user.pk }}"#}
        {#                                      class="btn btn-success privates-add">#}
    </form>
    <table class="table">
        <h5>Список приватных пользователей</h5>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Профиль</th>
            <th scope="col">Удалить из Привата</th>
        </tr>
        </thead>
        {% for user in users %}
            <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'accounts:user_detail' user.pk %}">{{ user }}</a></td>
                <td>
                    <button class="btn btn-danger" onclick="deleteFromPrivate({{ user.private_access.pk }}, {{ user.user.pk }})">
                        Удалить
                    </button>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
{% block scripts %}
    <script>
        function deleteFromPrivate(file_id, user_id) {
            console.log(file_id, user_id);
            $.ajax({
                method: 'GET',
                url: '/user_private_delete',
                data: {
                    'file_id': file_id,
                    'user_id': user_id
                },
                dataType: 'json',
                success: function () {
                    var elem = $(`#private_user_${user_id}`);
                    console.log(elem);
                    elem.remove();
                }
            })
        }
    </script>
{% endblock %}